.cardsview {
	margin: 5px;
	height: 10%;
	overflow: auto;
}

.courselayout {
	padding: 0.8em;
}

::-webkit-scrollbar {
	width: 0.2em;
}

.description::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  width: auto;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.code {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
}
	
.title {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	padding-right: 0.5em;
	padding-left: 0.5em;
	flex-shrink: 0;
}

.rating {
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	flex-shrink: 0;
}

.body {
	padding: 0px;
	margin: 0px;
	overflow: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.description {
	padding:0px;
	margin: 0px;
	width: 25em;
	height: 10em;
	word-wrap: break-word;
	overflow: auto;
}

.grid {
	margin: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
	padding: 0px;
}

.col {
flex: auto;
margin: 0.5em;
}