.cardsview {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	overflow: auto;
}

.courselayout {
	padding: 0.8em;
}

.grid {
	margin: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
	padding: 0px;
}

.col {
flex: auto;
margin: 0.5em;
}