.cardsview {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: calc(100vh - 102px);
	overflow: auto;
}

.courselayout {
	padding: 0.8em;
}

/*::-webkit-scrollbar {
	width: 0.2em;
}

.description::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  width: auto;
}*/

.grid {
	margin: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
	padding: 0px;
}

.col {
flex: auto;
margin: 0.5em;
}