@import 'custom';
@import "~bootstrap/scss/bootstrap";
@import 'fonts';

body {
	background-color: $gray-500;
	margin: 0%;
	width: 100%;
	height: 100%;
	font-family: $mainFont;
 	word-wrap: break-word; 
}

.logo {
	font-family: $logoFont;
}

.btn.btn-customrounded-left {
	border-radius: 0px 4px 4px 0px;
}