$primaryColor: #263252;
$secondaryColor: #00b66d;
$tetriaryColor: #0055df;
$warning: #f0771a;
$lightGrey: #cacaca;
$mediumGrey: #7f7f7f;
$lightColor: #f1f1f1;
$red: #d21e3c;
$white: white;

:export {
	primaryColor: $primaryColor;
	secondaryColor: $secondaryColor;
	tetriaryColor: $tetriaryColor;
	warning: $warning;
	lightGrey: $lightGrey;
  mediumGrey: $mediumGrey;
  white: $white;
}
